<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joao.berrantinho">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity
            android:name=".authentication.AuthenticatorActivity"
            android:exported="true"
            android:label="@string/title_sign_in"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".features.notification.NotificationActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionbar" />
        <activity
            android:name=".features.suplementacao.SuplementacaoActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionbar" />
        <activity
            android:name=".features.suplementacao.SuperSuplementacao"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionbar" />
        <activity
            android:name=".features.toolbar.ToolbarActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionbar" />
        <activity
            android:name=".features.fabrica.FabricaActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionbar" />
        <activity
            android:name=".features.bolinha.BolinhaActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".features.databinding.NumbersActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionbar" />
        <activity
            android:name=".features.ingredients.IngredientsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionbar" />
        <activity
            android:name=".features.flower.FlowerActivity"
            android:label="@string/title_activity_flower"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.piechart.PieChartTest"
            android:label="@string/title_activity_flower"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".features.text.TextSampleActivity" />


        <service android:name=".notification.NotificationIntentService" />
        <service
            android:name=".authentication.AuthenticatorService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity android:name=".features.seekbar.SeekBarActivity"></activity>
    </application>

</manifest>